{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css"
        integrity="sha512-IgmDkwzs96t4SrChW29No3NXBIBv8baW490zk5aXvhCD8vuZM3yUSkbyTBcXohkySecyzIrUwiF/qV0cuPcL3Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <br>
    <br>
    <br>

    <div class="container" style="padding: 10px;">

        <div class="columns is-mobile is-multiline is-centered">
            <div class="column is-6">
                <div class="card-header">
                    <strong>You have been logged Out</strong>
        
        
        
                </div>
                <div class="card-footer">
                    <small><a href="{% url 'login'   %}">Login again</a></small>
                </div>
            </div>
        </div>


    </div>


</body>

</html>